<div ng-controller="AuthController" class="login-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6 align-middle vertical-middle">
                <div class="login-frame animated slideInUp">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="app-name text-center align-middle font-size-80 padding-bottom-80">
                                Edd
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <form ng-submit="login()">
                                <div class="col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="email-addon">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="email" ng-model="email" class="form-control input-control roboto" placeholder="correo@ejemplo.com" aria-label="correo@ejemplo.com" aria-describedby="email-addon" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="password-addon">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        <input type="password" ng-model="password" class="form-control input-control roboto" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="password-addon" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-login float-right roboto">
                                        Ingresar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>